

@import "compass/css3";


html {
  min-height: 100%;
  position: relative;
}

body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/tar_ref.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }

.p {
    color: #908685;

}
  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #908685;
    text-align: center;
    weight: bold;
    color: #ffffff;
  }

