

@import "compass/css3";

$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;
}

body {font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/Light_Gray_Mottle.jpg);
    margin-bottom: $height-footer;
  }

#footerteal {
    bottom: 20;
    width: 100%;
    position: absolute;
    height: 4px;
    background-color: #4aaaa5;
    margin: 20px 0;

}

  #footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #666666;
    text-align: center;
    .footer-block {
      margin: 20px 0;
    }
  }
}
